
<ion-content padding>
    <h1 class="welcome">bienvenido a</h1>
    <img class="logo" src="/assets/images/logo.png">
    <ion-button class="button-tyfl" expand="full" shape="round" mode="ios"
    color="primary" routerLink="/register">
        REGISTRARSE
    </ion-button>
    <br>
    <ion-button class="button-tyfl" expand="full" shape="round" mode="ios"
    color="primary" routerLink="/home">
        ACCEDE
    </ion-button>

    <ion-row class="social">
        <ion-col>
            <img src="/assets/images/face.png">
        </ion-col>
        <ion-col>
            <img src="/assets/images/insta.png">
        </ion-col>
        <ion-col>
            <img src="/assets/images/twi.png">
        </ion-col>
        <ion-col>
            <img src="/assets/images/pin.png">
        </ion-col>
        <ion-col>
            <img src="/assets/images/what.png">
        </ion-col>
    </ion-row>
</ion-content>
