.button-tyfl{
    height: 55px;
    font-family: "Organo";
    line-height: 36px;
    font-size: 36px;
    --border-radius: 6px;
    margin-top: 8px;
}

.button2-tyfl{
    height: 55px;
    font-family: "Organo";
    line-height: 36px;
    font-size: 36px;
    --border-radius: 6px;
    margin-top: 8px;
}

