<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <img class="map" src="/assets/images/map.png">
        <div class="box-buttons">
                <ion-button class="button2-tyfl" expand="full" shape="round" mode="ios"
                color="secondary" >
                    PARADEROS
                    <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
                </ion-button>
                <ion-button class="button2-tyfl" expand="full" shape="round" mode="ios"
                color="secondary" >
                    MICROBUS
                    <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
                </ion-button>
                <ion-button class="button-tyfl" expand="full" shape="round" mode="ios"
                color="primary" >
                    CONFIRMACIÓN
                </ion-button>
                <ion-button class="button2-tyfl" expand="full" shape="round" mode="ios"
                color="secondary" >
                    BAJADA
                    <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
                </ion-button>
                <ion-button class="button-tyfl" expand="full" shape="round" mode="ios"
                color="primary"  routerLink="/login">
                    FINALIZAR
                </ion-button>
        </div>
</ion-content>
